.header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.logo h1 {
  color: rgb(47, 51, 88);
  padding-left: 2rem;
}

.buttons {
  margin-left: 42rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
}

.buttons #btn1 {
  background-color: rgb(47, 51, 88);
  margin-right: 0.7rem;
  padding: 0.8rem 2.8rem;
}

.buttons #btn2 {
  background-color: orange;
  padding: 0.8rem 3.8rem;
}

#dot {
  color: orange;
}

.line {
    border-top: 5px solid rgb(218, 215, 215)
}

container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftside {
  margin-right: 3rem;
}

.leftside h2 {
  font-weight: bolder;
  margin-left: 4.5rem;
}

#para {
  margin-left: 7rem;
}

label input {
  width: 22rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}

::placeholder {
  font-size: small;
  align-items: center;
  justify-content: center;
  padding-left: 0.8rem;
}

.button {
  color: #fff;
  background-color: rgb(47, 51, 88);
  height: 2.5rem;
  border-radius: 3px;
  padding-left: 7rem;
  padding-top: 0.5rem;
}

.text p {
  padding-left: 15rem;
  font-size: small;
  top: 0%;
  transform: translateY(-100%);
}

.text {
  margin-top: 0.5rem;
}

.para-text {
  font-size: small;
}

#btn3 {
  padding-left: 2rem;
  cursor: pointer;
}

.para-text input {
  top: 0%;
  transform: translateY(+20%);
}

@media screen and (max-width: 640px) {
  .buttons {
    margin-left: 3.5rem;
    margin-bottom: 13px;
  }

  .buttons #btn1 {
    padding: 5px;
    font-size: 13px;
  }

  .buttons #btn2 {
    padding: 5px;
    font-size: 13px;
  }

  container {
    display: block;
    width: 100%;
  }

  label input {
    width: 20rem;
    margin-left: 1rem;
  }

  .leftside h2 {
    padding-top: 3rem;
    font-weight: bolder;
    margin-left: 6rem;
  }

  #para {
    margin-left: 7.3rem;
  }

  .button {
    width: 20rem;
    margin-left: 1rem;
  }

  .text p {
    padding-left: 15rem;
    font-size: 10px;
    top: 0%;
    transform: translateY(-100%);
  }

  .text {
    margin-top: 1rem;
    padding-left: 1rem;
    white-space: nowrap;
  }

  .para-text {
    font-size: 10px;
    margin-top: -15px;
  }

  .rightside img {
    max-width: 100%;
    height: 320px;
  }
}
